html {
  background-color: #fffffc;
}

.img-responsive {
  border-radius: 50%;
  margin: auto;
  padding-bottom: 10px;
  width: 236px;
}

h1, h2, h3, h4, p {
  text-align: center;
}

.link {
  text-align: center;
  font-size: 23px;
}

/*SECTION1*/
.section1 {
  background-color: #eae5e2;
}

.section1 .col-sm-4 {

}

.section1 .col-sm-8 h1 {
  color: #264f5d;
  margin-top: 20px;
}

/*SECTION2*/
.section2 {
  background-color: #6a7d8e;
  padding: 10px;
}

.section2 strong {
  color: white;
}


/*SECTION3*/
.section3 {
  background-color: #fffffc;
  padding: 10px;
}
